{% extends "base.html" %}
{% block title %}Daka - 记录查看{% endblock %}

{% block page_content %}
<div class="container">
    <div class="row">
        <div class="col-md-2 pre-scrollable">
            <ul class="nav nav-pills nav-stacked">
                {% for u in users %}
                {% if u.id!=user.id %}
                <li><a href="/main/record_admin/{{ u.id }}">{{ u.nickname }}</a></li>
                {% else %}
                <li class="active"><a href="/main/record_admin/{{ u.id }}">{{ u.nickname }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-10">
            <div class="well well-lg pre-scrollable">
                <table class="table table-striped">
                    <caption>统计 - 总工时： {{ worktime | round(2,"floor") }} h</caption>
                    <thead>
                        <tr>
                            <th>年份</th>
                            <th>月份</th>
                            <th>工时</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in data %}
                        <tr onclick="location.href='/main/record_admin/{{ user.id }}?year={{ i.year }}&month={{ i.month }}';">
                            <td>{{ i.year }}</td>
                            <td>{{ i.month }}</td>
                            <td>{{ i.worktime | round(2,"floor") }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <a href="/main/record_admin/addrecord/{{ user.id }}"><button class="btn btn-primary">为此用户添加记录</button></a>
            <div>
                <table class="table table-striped">
                    <caption>记录详情</caption>
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>日期</th>
                            <th>打卡时间</th>
                            <th>签退时间</th>
                            <th>本次工时(h)</th>
                            <th>完成记录</th>
                            <th>补签操作</th>
                            <th>删除</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i,r in records %}
                        <tr>
                            <td>{{ i+1 }}</td>
                            <td>{{ r.date }}</td>
                            <td>{{ r.clock_in_time }}</td>
                            <td>{{ r.clock_out_time }}</td>
                            <td>{{ r.hours | round(2,"floor") }}</td>
                            {% if r.clock_out %}
                            <td>✔</td>
                            {% else %}
                            <td>❌</td>
                            {% endif %}
                            {% if not r.clock_out %}
                            <td><a href="/main/record_admin/makeup/{{ r.id }}"><button
                                        class="btn btn-primary">补签</button></a></td>
                            {% else %}
                            <td></td>
                            {% endif %}
                            <td><a href="/main/record_admin/delete/{{ r.id }}"><button
                                        class="btn btn-warning">删除</button></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>

        </div>
    </div>
</div>

{% endblock %}